<!DOCTYPE html>
<html>
  <head>
    <title>Twittter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification text-primary">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification text-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <!-- Bootstrap 5 Navbar -->
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
       <div class="container-fluid">
          <%= link_to root_path, class: "nav-item" do %>
            <h4 class="title text-white">Twittter</h4>
          <% end %>
          <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            <%= link_to 'New Tweeet', new_tweeet_path, class: "btn bg-light text-primary" %>
            <p class="text-white my-0 mx-2">Sign Up</p>                   
          </div>
       </div>
    </nav>

    <%= yield %>
  </body>
</html>
